.about {
  background: conic-gradient(
    from 177.22deg at 73.85% 25.48%,
    #1ba7ff 0deg,
    #019bff 80.4deg,
    #2cb1fe 180.34deg,
    #1ba7ff 360deg
  );
  h2 {
    color: rgba(62, 198, 255, 0.4);
    top: 100px;
    left: 30%;
    transform: translate(0);
    text-align: left;
  }
  .container {
    position: relative;
    z-index: 9;
    .content {
      max-width: 650px;
      margin-left: auto;
      h3,
      p {
        font-family: 'Superscratchy', sans-serif;
      }
    }
  }
}
