@import '../../styles/mixins';
@import '../../styles/variables';

.daily-raffle {
  padding-bottom: 2em;
  background: conic-gradient(
    from 164.23deg at 45.6% 21.38%,
    #febc20 0deg,
    #ffb411 80.4deg,
    #ffda65 180.34deg,
    #febc20 360deg
  );
  h2 {
    color: #ffda65;
    top: 75%;
    width: 100%;
  }
  .container {
    .top-bar {
      @include justify-between;
      align-items: flex-start;
      flex-wrap: wrap;
      .balance {
        width: fit-content;
        background: conic-gradient(
          from 219.12deg at 73.85% 25.48%,
          #2cb1fe -184.54deg,
          #019bff 57.84deg,
          #1ba7ff 63.8deg,
          #2cb1fe 175.46deg,
          #019bff 417.84deg
        );
        box-shadow: 4px 4px 0px #fe4459;
        padding: 0.8em 1.2em;
        color: $white;
        font-family: 'Superscratchy', sans-serif;
      }
      button.blue-gradient {
        background: conic-gradient(
          from 140.92deg at 10.96% 48.47%,
          #7f3efe 0deg,
          #6b24fe 22.78deg,
          #935df9 180.34deg,
          #7f3efe 360deg
        );
        box-shadow: 4px 4px 0px #fe4459;
      }
      .status {
        padding: 0.8em 1em;
        background: conic-gradient(
          from 193.19deg at 50% 50%,
          #06a232 0deg,
          #0bb530 180.34deg,
          #0cb865 359.96deg,
          #06a232 360deg
        );
        color: #ffffff;
        margin-top: 2em;
      }
    }
    .face-container {
      position: relative;
      width: min-content;
      margin: auto;
      cursor: pointer;
      .parts {
        position: absolute;
        top: 0;
        left: 0;
        &.eyes {
          max-width: 280px;
          top: 20%;
          left: 30%;
          z-index: 9;
          &.static {
            top: 15%;
            left: 30%;
          }
        }
      }
    }
    .face-container[bounce='1'],
    .mob-face[bounce='1'] {
      transition: all 1s ease-in-out;
      animation: bounce 0.5s linear;
    }
    .face-container[bounce='2'],
    .mob-face[bounce='2'] {
      transition: all 1s ease-in-out;
      animation: bounce 0.2s linear;
    }
    .mob-face {
      position: relative;
      z-index: 99;
    }
    img {
      max-width: 800px;
    }
  }
}
#syrup{
  width: 2rem;
    margin-right: 1rem;
}

.mouse_move{
  position: relative;
}
.countsclick{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .countsinner{
    h3{
      color: #faf4f4af;
    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;
    padding-bottom: 30px;
  }
    
    // border: 5px solid rgb(230, 228, 228);
    // width: 100px;
    // height: 55px;
    // border-radius: 12px;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.95) translateY(10px);
  }
  50% {
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: $sm) {
  .daily-raffle {
    padding-bottom: 10em;
    h2 {
      top: 70%;
    }
    .container {
      .top-bar {
        justify-content: center;
        .balance,
        button,
        .status {
          width: 230px;
          margin: 0 auto 1em auto;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }
}

iframe{
  display: none;
  position: unset!important;
  top: 0px!important;
  left: 0px!important;
  width: 0px!important;
  height: 0px!important;
}
.daily-raffle .container .face-container .parts{
  z-index: 12;
}
.daily-raffle h2{
  z-index: 14;
}



.content-wrapper {
  position: relative;
  background: conic-gradient(
    from 140.92deg at 10.96% 48.47%,
    #7f3efe 0deg,
    #6b24fe 22.78deg,
    #935df9 180.34deg,
    #7f3efe 360deg
  );
  padding: 5em 3em;
  text-align: center;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  h3 {
    margin-bottom: 2em;
  }
  input {
    padding: 2em 1em;
    color: #000000;
    width: 100%;
    margin-bottom: 2em;
  }
  button {
    width: 100%;
    background: conic-gradient(
      from 193.19deg at 50% 50%,
      #06a232 0deg,
      #0bb530 180.34deg,
      #0cb865 359.96deg,
      #06a232 360deg
    );
    box-shadow: 4px 4px 0px #ffca61;
  }
}

@media (max-width: $sm) {
  .content-wrapper {
    width: 90%;
    padding: 5em 2em;
    h3 {
      font-size: 1.8em;
    }
  }
}

iframe{
  display: none;
  position: unset!important;
  top: 0px!important;
  left: 0px!important;
  width: 0px!important;
  height: 0px!important;
}