@import '../../styles/variables';

.collection {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 0 auto;
  img {
    height: 200px;
    min-width: 200px;
    animation: collectionSlide 30s linear infinite;
  }
}
@keyframes collectionSlide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}
@media (max-width: $lg) {
  .collection {
    img {
      max-width: 20%;
    }
  }
}
